src/.git
src/.github
src/.gitignore
src/.gitattributes
src/.*.swp
src/vendor/
src/website/
src/ui/
src/enos/
src/e2e/
src/test/
src/tests/
src/version/
src/changelog/
src/scripts/
src/Dockerfile*
src/Makefile
src/GNUmakefile
src/*.md
src/CHANGELOG*
